<div id="greetins-dev">
    <h2 translate="mothersDayApp.greetings.home.title" id="thanknote" class="animated pulse">For Messages</h2>
    <jhi-alert></jhi-alert>
    <div id="table-greet" align="center">
        <ul ng-bind="gm.greetings[0].messages"  id="msg1" class="animated lightSpeedIn" ng-init=""></ul>
        <ul ng-bind="gm.greetings[1].messages"  id="msg2" class="animated lightSpeedIn"></ul>
        <ul ng-bind="gm.greetings[2].messages"  id="msg3" class="animated lightSpeedIn"></ul>
        <ul ng-bind="gm.greetings[3].messages"  id="msg4" class="animated lightSpeedIn"></ul>
        <ul ng-bind="gm.greetings[4].messages"  id="msg5" class="animated lightSpeedIn"></ul>
        <ul ng-bind="gm.greetings[5].messages"  id="msg6" class="animated lightSpeedIn"></ul>
        <ul ng-bind="gm.greetings[6].messages"  id="msg7" class="animated lightSpeedIn"></ul>
        <ul ng-bind="gm.greetings[7].messages"  id="msg8" class="animated lightSpeedIn"></ul>
        <ul ng-bind="gm.greetings[8].messages"  id="msg9" class="animated lightSpeedIn"></ul>
        <ul ng-bind="gm.greetings[9].messages"  id="msg10" class="animated lightSpeedIn"></ul>
        <ul ng-bind="gm.greetings[10].messages"  id="msg11" class="animated lightSpeedIn"></ul>
    </div>

<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReferenceLabel" translate="mothersDayApp.greetings.home.create">Create or edit a Reference</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.reference.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.reference.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mothersDayApp.greetings.ref_name" for="field_ref_name">Ref Name</label>
            <input type="text" class="form-control" name="ref_name" id="field_ref_name"
                   ng-model="vm.reference.ref_name"
                   required />
            <div ng-show="editForm.ref_name.$invalid">
                <p class="help-block"
                   ng-show="editForm.ref_name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mothersDayApp.greetings.ref_url" for="field_ref_url">Ref Url</label>
            <input type="text" class="form-control" name="ref_url" id="field_ref_url"
                   ng-model="vm.reference.ref_url"
            />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>

    <p id="publiclink" >https://dornalame.heroku.com/{{vm.reference.id}}/{{vm.reference.ref_name}}/{{vm.reference.ref_url}}</p>
</form>
</div>
